/*
 * QListWidget, QTreeWidget {
 * 	background: #444444;
 * }
 */

QTabWidget.BigTabs {
	qproperty-iconSize: 30px;
	font-size: 0px;
}

QTabWidget.BigTabs > QTabBar::tab {height:50px; width:63px;}

QLineEdit {qproperty-alignment: AlignCenter;}